$purple: #522580;
$light-blue: #1955AF;
$dark-blue: #08043A;
$yellow: #C79022;
$light-yellow: #ffe4bb;

$mobile-width: 870px;
$tablet-width: 980px;

@mixin purple-blue-background {
  background-image: linear-gradient(90deg, $purple, $light-blue);
}

@mixin bold-baloo {
  font-family: 'Baloo Chettan', cursive;
  font-weight: bold;
}