.query-best-service {
  width: 100%;
  height: 32vh;
  background-color: #097e89;
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-template-rows: 1fr;

  &__info {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__label {
    font-family: Sansation;
    font-size: 60px;
    color: white;
    padding-left: 3vw;
    padding-bottom: 5vh;
  }

  &__description {
    font-family: Sansation;
    font-size: 17px;
    color: white;
    text-align: left;
    line-height: 2;
    padding-left: 3vw;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 7vw;
  }

  &__submit-button {
    background-color: white;
    color: #097e89;
    text-align: center;
    cursor: pointer;
    height: 7vh;
    width: 10vw;
    border: 1px solid #097e89;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Sansation;
    font-size: 24px;
    font-weight: bold;

    &:hover {
      background-color: #1955AF;
      color: white;
      border: 1px solid white;
      box-sizing: border-box;
    }
  }

  &__input {
    background-color: #097e89;
    border: 1px solid white;
    color: white;
    font-family: Sansation;
    font-size: 20px;
    width: 17vw;
    padding-left: 2vw;
    height: 7vh;
    box-sizing: border-box;

    &::placeholder {
      color: white;
    }
  }
}