.best-service {
  &__separator {
    margin-top: 5vh;
    height: 0.7vh;
    width: 30vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../static/img/BestService/service-left-separator.png);

    &_position_right {
      transform: rotate(180deg);
    }

    &_color_grey {
      filter: invert(50%);
    }
  }
}

.services-best-service {
  width: 100%;
  height: 123vh;
  display: grid;
  grid-template-rows: 0.2fr 0.8fr;
  grid-template-columns: 1fr;

  &__logo {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: #373737;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__label {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: Sansation;
    font-size: 78px;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  &__content {
    display: grid;
    grid-template-columns: 0.33fr 0.34fr 0.33fr;
    grid-template-rows: 1fr;
  }

  &__button {
    background-color: #959595;
    text-transform: uppercase;
    width: 14vw;
    color: white;
    font-family: Sansation;
    font-size: 24px;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    margin-bottom: 20vh;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: #959595;
    }
  }

  &__service {
    background-color: #3d3d3d;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    &-label {
      font-size: 48px;
      font-family: Sansation;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      padding-bottom: 5vh;
    }

    &-description {
      width: 100%;
      text-align: center;
      font-size: 28px;
      color: white;
      font-family: Sansation;
      padding-bottom: 5vh;
    }

    &-image {
      width: 15vw;
      margin-bottom: 10vh;
    }

    &_active {
      background-color: #097e89;
    }
  }

  &__switcher {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: flex-end;
  }

  &__switch-button {
    width: 3.6vw;
    height: 100%;
    background-color: #097e89;
    margin-left: 2px;
    cursor: pointer;
    background-position: top 8px left 20px;
    background-repeat: no-repeat;
    background-origin: border-box;

    &_direction {
      &_left {
        background-image: url(../../static/img/BestService/serv-switcher-left.png);
      }

      &_right {
        background-image: url(../../static/img/BestService/serv-switcher-right.png);
      }
    }
  }
}