main {
    padding-top: 1vmin;
    width: 100%;
    grid-row: 2/3;
    grid-column: 1/4;
    background-color:  #ffe4bb;
}

.main__posts {
    display: flex;
    justify-content: space-around;
}

.main__label {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    padding: 3vmin;
    color: #08043A;
    text-align: center;
}

.post-block__image {
    margin-top: 2vmin;
    height: 15vmin;
    width: 15vmin;
    margin-left: auto;
    margin-right: auto;
}

.main__post-block {
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
    border: #522580 15px solid;
    border-radius: 20px;
    background-color: #C79022;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2vmin;
    padding: 1vmin;
}

.post-block__label {
    font-size: 30px;
    padding-bottom: 1vmin;
    font-weight: bold;
    text-align: center;
}

.post-block__content {
    text-align: justify;
}
