@media only screen and (max-width: 950px) {
    .header-search {
        display: none;
    }

    header {
        grid-template-columns: 1.5fr 1fr 2fr;
    }
}

@media only screen and (max-width: 870px) {
    body {
        grid-template-rows: 0.2fr 2fr;
        grid-template-columns: repeat(3, 1fr);
    }

    header {
        grid-row: 1/2;
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 1.5fr 2fr 1.3fr;
        position: relative;
    }

    .header-logo {
        grid-column: 1/4;
        justify-content: center;
    }

    .post-block-image {
        height: 30vmin;
        width: 30vmin;
    }

    .header-logo__image {
        height: 20vmin;
    }

    .header-logo__label {
        font-size: 15vmin;
    }

    .header-search {
        display: none;
    }

    .navigation-button__image {
        height: 35px;
    }

    nav {
        padding-top: 3vmin;
        grid-column: 2/4;
        font-size: 25px;
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .advantage__content {
        font-size: 4vmin;
    }

    .advantage__label {
        font-size: 6vmin;
    }

    .footer-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        font-size: 8vmin;
    }

    .footer-contact__image {
        height: 10vmin;
        padding: 2vmin;
    }

    .footer-menu__link {
        width: 100%;
    }

    .advantages {
        flex-direction: column;
    }
}
