@media only screen and (max-width: 870px) {
    body {
        grid-template-rows: 0.2fr 2fr;
        grid-template-columns: repeat(3, 1fr);
    }

    header {
        grid-row: 1/2;
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 1.5fr 2fr 1.3fr;
        position: relative;
    }

    .header__logo {
        grid-column: 1/4;
        justify-content: center;
    }

    .post-block-image {
        height: 30vmin;
        width: 30vmin;
    }

    .header__logo-image {
        height: 20vmin;
    }

    .header__logo-label {
        font-size: 15vmin;
    }

    .header__search {
        display: none;
    }

    .header__navigation-image {
        height: 35px;
    }

    nav {
        padding-top: 3vmin;
        grid-column: 2/4;
        font-size: 25px;
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .post-block__content {
        font-size: 4vmin;
    }

    .post-block__label {
        font-size: 6vmin;
    }

    .footer__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        font-size: 8vmin;
    }

    .footer__contact__image {
        height: 10vmin;
        padding: 2vmin;
    }

    .footer__menu__element {
        width: 100%;
    }

    .main__posts {
        flex-direction: column;
    }
}
