@import '../../static/scss/common';

@media screen and (max-width: $mobile-width) {
    body {
        grid-template-rows: 0.2fr 2fr;
        grid-template-columns: repeat(3, 1fr);
    }

    .navigation-button__image {
        height: 35px;
    }

    nav {
        padding-top: 3vmin;
        grid-column: 2/4;
        font-size: 25px;
        display: none;
    }

    .advantages {
      flex-direction: column;
    }

    .advantage {
      &__label {
        font-size: 6vmin;
      }

      &__content {
        font-size: 4vmin;
      }

      &__image {
        height: 30vmin;
        width: 30vmin;
      }
    }
}
