@import '../../static/scss/common';

@media screen and (max-width: $tablet-width) {
    body {
        grid-template-rows: 0.2fr 2fr;
        grid-template-columns: repeat(3, 1fr);
    }

    .advantages {
      flex-direction: column;
    }

    .advantage {
      &__label {
        font-size: 6vmin;
      }

      &__content {
        font-size: 4vmin;
      }

      &__image {
        height: 30vmin;
        width: 30vmin;
      }
    }
}
