header {
    background-image: linear-gradient(90deg, #522580, #1955AF);
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1.5fr 1.7fr 2.2fr;
}

.header-logo {
    color: #08043A;
    font-size: 45px;
    grid-column: 1/2;
    display: flex;
    justify-content: flex-start;
    padding: 2vmin;
}

.header-logo__label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    font-family: 'Baloo Chettan', cursive;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 34px;
    grid-column: 3/4;
    display: flex;
    flex-direction: row;
    font-family: 'Baloo Chettan', cursive;
    justify-content: space-evenly;
    padding-top: 2vmin;
    padding-right: 2vmin;
}

.navigation-button__image {
    height: 55px;
    padding-right: 1vmin;
}

.navigation-button {
    cursor: pointer;
    display: flex;
}
.header-logo__image {
    height: 50px;
    padding-left: 2vmin;
    padding-right: 2vmin;
}

.header-search {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    padding: 2vmin;
}

.header-search__input {
    outline: 0;
    border-radius: 20px;
    border: 3px solid #08043A;
    font-family: 'Baloo Chettan', cursive;
    margin-left: 1vmin;
    font-size: 2.5vmin;
    padding-left: 1vmin;
    width: 50%;
}

.header-search__button {
    font-size: 30px;
}

.header__navigation-profile {
    cursor: pointer;
}

.navigation-button__text {
    padding-top: 1vmin;
}