@import '../../static/scss/common';

footer {
  grid-row: 3/4;
  grid-column: 1/4;
  @include purple-blue-background;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.footer-menu {
  font-size: 32px;
  grid-column: 1/2;
  @include bold-baloo;
  display: flex;
  justify-content: space-around;
  height: 100%;

  &__link {
    padding-top: 2vmin;
    text-align: center;
    cursor: pointer;
    color: $dark-blue;
  }
}

.footer-contact {
  padding-top: 2vmin;
  padding-bottom: 1vmin;
  grid-column: 3/4;
  display: flex;
  justify-content: space-evenly;

  &__image {
    height: 5vmin;
    cursor: pointer;
  }
}
