@import '../../static/scss/common';

@media screen and (max-width: $mobile-width) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer {
    &-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: auto;
      font-size: 8vmin;

      &__link {
        width: 100%;
      }
    }

    &-contact__image {
      height: 10vmin;
      padding: 2vmin;
    }
  }
}

@media only screen and (max-width: $tablet-width) {
  footer {
    grid-template-columns: 2fr 0.5fr 2fr;
  }
}